* {
    font-family: "Helvetica";
}

img{
    max-width: 100%;
}
body {
    background-color: lightgray;
    color: black;
    /* The following 2 properties from Peter Norvig's website */
    max-width: 52em;
    margin-left: 2em;
}
